/* Make toolbar fixed at the top */
.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 40; /* Ensure it stays above other elements */
  background-color: #f9fafb; /* Set a background for clarity */
}

/* Editor content styles */
.ql-editor {
  max-width: 768px;
  font-size: 18px; /* Increase text size inside the editor */
  line-height: 1.6; /* Adjust line height for better readability */
}

div.ql-toolbar {
  padding-top: 2rem !important;
  padding-bottom: 1.5rem !important;
  border: 2px solid #d1d5db !important;
  /* border-top: none !important; */
  /* border-radius: 2pc; */
}

div.ql-container {
  border: 2px solid #d1d5db !important;
  border-top: none !important;
  min-height: 100vh;
}

/* Optional: Style toolbar buttons and icons */
.ql-toolbar .ql-formats {
  font-size: 18px; /* Larger font size for toolbar icons */
}

.ql-toolbar .ql-picker {
  font-size: 18px; /* Larger dropdowns in the toolbar */
}

/* Style placeholder text */
.ql-editor.ql-blank::before {
  font-size: 18px; /* Increase placeholder text size */
}

/* Customize font size for code blocks */
.ql-syntax {
  font-size: 16px; /* Make code block text larger */
}

.ql-code-block-container .ql-ui {
  color: black;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}